# Core Data Handling and Storage
anndata
numpy
pandas

# Spatial Transcriptomics and Single-Cell Analysis
scanpy
squidpy

# Batch Correction 
harmonypy

# Visualization and Machine Learning Utilities
matplotlib
scikit-learn
umap-learn
torch